<div class="container">
    <!-- Logo -->
    <div class="header">
      <img src="logo.png" alt="Logo" class="logo">
      <img src="freetimer.png" alt="FreeTimer" class="brand">
    </div>
  
    <!-- Tabla de tareas -->
    <table class="task-table">
      <thead>
        <tr>
          <th>TAREA</th>
          <th>EXPIRA</th>
          <th>$OFERTA</th>
        </tr>
      </thead>
      <tbody>
        <!-- Itera sobre las tareas para mostrarlas en la tabla -->
        <tr *ngFor="let task of tasks">
          <td>{{ task.task_title }}</td>
          <td>{{ task.task_stimed_time_hours }}</td>
          <td>{{ task.task_offer_suggested }} COP</td>
        </tr>
      </tbody>
    </table>
  
    <!-- Botones -->
    <div class="buttons">
      <button class="red-button">Revisar postulaciones</button>
      <button class="red-button">PERFIL</button>
      <button class="red-button">PAGOS</button>
      <button class="red-button">OFERTAS</button>
      <button class="red-button">REPORTES</button>
    </div>
  </div>
  