* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.confirmation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.confirmation-box {
    text-align: center;
    background-color: #fff;
    border: 2px solid #d10000;
    border-radius: 15px;
    padding: 30px;
    max-width: 300px;
}

.logo img {
    width: 150px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
}

strong {
    color: #d10000;
}

.btn {
    background-color: #d10000;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    opacity: 0.9;
}
.support-list-container {
    background-color: lightgray; /* Para verificar si se está renderizando */
    padding: 10px;
    border-radius: 5px;
  }
  
